<section class="comment">
    <div class="comment-header flex-container">
        <%= render "users/user_profile_info", user: comment.user, post: post, comment: comment, location: "comment" %>
        <div class="comment-time">
            <p class="short-top-bottom-margins"><%= comment.time_since_creation %></p>
        </div>
        <%= render "posts/post_comment_controls", user: comment.user, object: comment, location: "comment" %>
    </div>
    <div class="comment-content">
        <p><%= comment.content %></p>
    </div> 
</section>
   