<section class="comment">
    <div class="comment-header">
        <%= render "users/user_profile_info", user: comment.user, location: "post_or_comment", post: post %>
    </div>
    <div class="comment-content">
        <p><%= comment.content %></p>
    </div>
</section>
   