<% if user.friend?(current_user) %>
    <button class="friend-request-button">Unfriend</button>
<% elsif user.friendship_initiated?(current_user) %>
    <% if current_user.pending_request_senders.include?(user) %>
        <button class="friend-request-button">Accept Request</button>
        <button class="friend-request-button">Reject Request</button>
    <% elsif current_user.pending_request_receivers.include?(user) %>
        <button class="friend-request-button">Cancel Request</button>
    <% end %>
<% else %>
    <button class="friend-request-button">Add Friend</button>
<% end %>

