<% if user.friend?(current_user) %>
    <button class="friend-request-button">Unfriend</button>
<% elsif user.friendship_initiated?(current_user) %>
    <% if current_user.pending_request_senders.include?(user) %>
        <button class="friend-request-button">Accept Request</button>
        <button class="friend-request-button">Reject Request</button>
    <% elsif current_user.pending_request_receivers.include?(user) %>
        <button class="friend-request-button">Cancel Request</button>
    <% end %>
<% else %>
    <%= form_with(model: user, url: friends_path, method: "post") do |f| %>
        <%= f.hidden_field :id, value: user.id %>
        <%= f.submit "Add Friend", class: "friend-request-button" %>
    <% end %>
<% end %>


