<section class="page-header">
    <h1 class="remove-top-bottom-margins">My Friends</h1>
    <p class="remove-bottom-margin">You have <%= current_user.display_count(@friends, "friends") %>.</p>
</section>

<section class="page-content" id="friend-list">
    <%= render "users/user_profiles_list", user_collection: @friends, location: "main" %>
</section>
