<table>
    <thead class="profile-stats-headers">
        <tr>
            <td>Friends</td>
            <td></td>
            <td>Posts</td>
            <td></td>
            <td>Comments</td>
        </tr>
    </thead>
    <tbody class="profile-stats-data">
        <tr>
            <td><%= get_user_stats("friends", user) %></td>
            <td></td>
            <td><%= get_user_stats("posts", user) %></td>
            <td></td>
            <td><%= get_user_stats("comments", user) %></td>
        </tr>
    </tbody>
</table>