<% if user_collection.empty? %>
    <% if controller_name == "friends" && action_name == "index" %>
        <p>You must be new here. Go make some friends!</p>
        <p>Go on! <%= link_to "Get started here!", users_path %></p>
    <% elsif controller_name == "friends" && action_name == "requests" %>
        <p>What are you waiting for? Go make some friends!</p>
        <p>Go on! <%= link_to "Get started here!", users_path %></p>
    <% else %>
        <p>You appear to be the only user on this site.</p>
        <p>Hurry! Go tell people to join you here!</p>
    <% end %>
<% else %>
    <% user_collection.each do |user| %>
        <div class="profile-friend-options-group">
            <%= render "users/user_profile_info", user: user, location: location %>

            <% if location != "right_sidebar" %>
                <div class="friend-options">
                    <%= render "friends/friend_request_button", user: user %>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>