<section class="page-header">
    <h1 class="remove-top-bottom-margins">Looking for a Friend?</h1>
    <p class="remove-bottom-margin">So are these people. Go say Hi!</p>
</section>

<section class="page-content" id="friend-list">
    <%= render "users/user_profiles_list", user_collection: @users, location: "main" %>
</section>
