<section class="page-header flex-container">
    <%= render "layouts/page_header", user: @user, location: "header" %>
</section>

<section class="page-content" id="user-posts">
    <% if @user == current_user %>
        <%= render "posts/post_form", post: current_user.posts.build %>
        <h3>My Posts</h3>
    <% else %>
        <h3><%= @user.first_name %>'s Posts</h3>
    <% end %>

    <%= render "posts/post_feed", posts: @posts %>
</section>
 

