<section class="page-header">
    <%= render "users/user_profile_info", user: @user, profile_size: "large", location: "header" %>
</section>

<section class="page-content" id="user-posts">
    <% if @user == current_user %>
        <h3>My Posts</h3>
    <% else %>
        <h3><%= @user.first_name %>'s Posts</h3>
    <% end %>
    <p>Post will go here.</p><br>
    <p>Post will go here.</p><br>
    <p>Post will go here.</p><br>
    <p>Post will go here.</p><br>
    <p>Post will go here.</p><br>
    <p>Post will go here.</p><br>
    <p>Post will go here.</p><br>
    <p>Post will go here.</p><br>
    <p>Post will go here.</p><br>
</section>


