<section class="page-header">
    <%= render "users/user_profile_info", user: @user, location: "header" %>
</section>

<section class="page-content" id="user-posts">
    <% if @user == current_user %>
        <%= render "posts/post_form", post: current_user.posts.build %>
    <% end %>

    <% if @user == current_user %>
        <h3>My Posts</h3>
    <% else %>
        <h3><%= @user.first_name %>'s Posts</h3>
    <% end %>
    
    <% @posts.each do |p| %>
        <%= render "posts/post", post: p, likes: @likes, comments: p.comments.limit(Comment.display_limit) %>
    <% end %>
</section>


