<h4>What is this here FaceTOME?</h4>
<p>
    This demo site was my final project while working through the 
    Ruby on Rails portion of 
    <%= link_to "The Odin Project", "https://www.theodinproject.com/", target: "_blank" %>. 
    It's only public to show my app-building chops (and definitely not my design chops). 
</p>
<p>
    
    It's possible real people have signed up, but most will be fake, so no guarantee that
    any profile will interact with you. Feel free to explore around this Facebook knock-off that's 
    almost as fake as the real thing.
</p>

<% if controller_name != "static" %>
    <%= link_to "Learn More", about_path %>
<% end %>