<h1>About FaceTome</h1>

<blockquote>
    <b>tome</b><br>
    <i>noun</i><br>
    a BOOK, especially a large, heavy, scholarly one.
</blockquote>
<br>

<%= render "main_site_description" %>
<br>

<h4>A Note On How This Was Built</h4>
<p>
    The back-end for this app was built with Ruby on Rails and uses a PostgreSQL database. 
    The front-end is only HTML/CSS (no Javascript). 
    It's inteded to demonstrate the backend portion of an app only. 
    If you'd like to learn more about how it's constructed, 
    <%= link_to "view the README file", "https://github.com/marcon29/odin-face-tome/blob/master/README.md" %>.
</p>
<p> 
    You can also <%= link_to "view the source code", "https://github.com/marcon29/odin-face-tome", target: "_blank" %>, 
    or if you're brave enough, <%= link_to "learn more about me", "https://www.markstabler.com", target: "_blank" %>.
</p>

