<h1>About FaceTome</h1>

<blockquote>
    <b>tome</b><br>
    <i>noun</i><br>
    a BOOK, especially a large, heavy, scholarly one.
</blockquote>

<h4>What is this here FaceTOME?</h4>
<p>
    This was my final project while working through the 
    Ruby on Rails portion of 
    <%= link_to "The Odin Project", "https://www.theodinproject.com/", target: "_blank" %>.
</p>
<p>
    So this is a demonstration site for to show my app-building chops 
    (and definitely not my design chops). Because this app is 
    fully functioning, it's possible real people signed up, but most are fake.
    Otherwise, feel free to explore around this Facebook knock-off that's 
    almost as fake as the real thing.
</p>

<h4>A Note On How This Was Built</h4>
<p>
    The back-end for this app was built with Ruby on Rails. The front-end is only CSS (no Javascript). 
    It's inteded to demonstrate the backend portion of an app only. 
    If you'd like to learn more about how it's constructed, <%= link_to "view the README file", "https://github.com/marcon29/odin-face-tome/blob/master/README.md" %>.
</p>
<p> 
    You can also <%= link_to "view the source code", "https://github.com/marcon29/odin-face-tome", target: "_blank" %>, 
    or if you're brave enough, <%= link_to "learn more about me", "https://www.markstabler.com", target: "_blank" %>.
</p>

