<% if user == current_user %>
    <div class="post-comment-controls">
        <%= button_to "Edit", get_post_comment_control_path(object, "Edit"), method: :get, class: "small-button" %>
        <%= button_to "Delete", get_post_comment_control_path(object, "Delete"), data: { confirm: "Are you sure?" }, method: :delete, class: "small-button" %>
    </div>
<% end %>