<section class="page-header">
    <p>New Post Form to Go Here</p>
</section>

<section class="page-content" id="user-posts">
    <% @posts.each do |p| %>
        <article class="post-group">
            <%= render "posts/post", post: p, likes: @likes, comments: @comments %>
        </article>
    <% end %>
</section>
