<section class="page-header">
    <%= render "posts/post_form", post: @post %>    
</section>

<section class="page-content" id="user-posts">
    <% @posts.each do |p| %>
        <%= render "posts/post", post: p, likes: @likes, comments: p.comments.limit %>
    <% end %>
</section>
