<section class="page-header">
    <%= render "posts/post_form", post: @post %>    
</section>

                
    



<section class="page-content" id="user-posts">
    <% @posts.each do |p| %>
        <article class="post-group">
            <%= render "posts/post", post: p, likes: @likes, comments: @comments %>
        </article>
    <% end %>
</section>
