<section class="page-header">
    <%= render "posts/post_form", post: @post %>
</section>

<section class="page-content" id="user-posts">
    <%= render "posts/post_feed", posts: @posts %>
</section>
