/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@charset "utf-8";
/* CSS Document */

/* ******************************************************* */
/* Colors */
/* ******************************************************* */
:root {
    --main-yellow: #FBE122;
    --main-red: #EF3340;
    --main-blue: #00B5E2;
    --muted-main-blue: #016594;
    --second-blue: #263959;
    --muted-second-blue: #385383;
    --main-gray: #2D2D2D;
    --second-gray: #222222;
    --post-gray: #444444;
    --comment-gray: #555555;
    --input-gray: #777777;
    --main-font: "Segoe UI", Lato, sans-serif;
    --second-font: Lato, sans-serif;
    --third-font: "segoe script", cursive;
}


/* ******************************************************* */
/* Resetting Default Layout and Text */
/* ******************************************************* */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

/* ******************************************************* */
/* Site Universals */
/* ******************************************************* */
body {
    background-color: var(--second-gray);
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: 1.6rem;
    color: white;
    max-width: 100vw;
    
    /* creates sticky footer */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* ******************************************************* */
/* Typography */
/* ******************************************************* */
h1 {
    color: var(--main-yellow);
    font-size: 3.5rem;
    font-family: var(--third-font);
    letter-spacing: .13rem;
}

h2 {
    color: var(--main-blue);
    font-size: 2.4rem;
    font-family: var(--second-font);
} 

h3 {
    color: var(--main-blue);
    font-size: 2rem;
    font-family: var(--second-font);
}

h4 {
    color: var(--main-blue);
    font-size: 1.8rem;
    font-family: var(--second-font);
}

h5 {
    color: var(--main-blue);
    font-size: 1.6rem;
    font-family: var(--second-font);
}

p, ul, ol {
    font-weight: 300;
}

.fine-print {
    font-size: 1rem;
}

.yellow-text {
    color: var(--main-yellow);
}


/* ******************************************************* */
/* Links */
/* ******************************************************* */

/* ********** General Links styles ********** */
a {
    outline: none;
    text-decoration: none;
    color: var(--main-blue);
}

a:focus, a:hover {
    color: var(--main-yellow);
}


/* ********** Header Nav Links styles ********** */
h1 a, h2 a, h3 a {
	color: inherit;
}

#main-nav a {
    color: white;
}

h1 a:focus, h1 a:hover, h2 a:focus, h2 a:hover, h3 a:focus, h3 a:hover,
#main-nav a:focus, #main-nav a:hover {
	color: var(--main-yellow);
}


/* ********** Post link styles ********** */
.post-link,
.post-link:hover,
.post-link:focus {
    color: inherit;
    // background-color: #EF3340;
    // background-color: var(--main-gray);
}

.post-link div:hover,
.post-link div:focus {
    background-color: var(--main-gray);
}

/* ******************************************************* */
/* Site Template Layout */
/* ******************************************************* */

/* ********** Header & Footer ********** */
header, footer {
    background-color: var(--second-blue);
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0 2rem;
}

header {
    display: flex;
}

#header-HL {
    margin: 0;
    color: var(--main-red);
    flex: 2;
}

footer {
    background-color: var(--second-blue);
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
}

/* ********** nav layout ********** */
nav ul,
nav p {
    margin: .5rem 0;
    padding: 0;
    list-style-type: none;
}

#main-nav {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.5em;
    left: 0.1em;
}

/* ********** Main layout ********** */
#main-notifications-area {
        position: sticky;
        top: 5.6rem;
        z-index: 1;
}

#main-content-area {
    display: flex;
    height: 100%;
}

aside {
    background-color: var(--second-gray);
    padding: 2rem;
}

#left-sidebar {
    flex: 0 0 23rem;
}

#right-sidebar {
    flex: 0 0 20rem;
}

#main-content {
    background-color: var(--main-gray);
    margin: 0 auto;
    padding: 0 3rem;
    width: 100%;
}

// makes sidebar content stay in place so only main content scrolls
.sidebar-container {
    position: sticky;
    top: 7.6rem;
}

/* ******************************************************* */
/* Forms */
/* ******************************************************* */
input, textarea, select {
    background-color: var(--input-gray);
    height: 3rem;
    width: 25rem;
    padding-left: 1rem;
    font-family: var(--second-font);
    color: white;
    border: 1.5px solid black;
    border-radius: 13px;
}

textarea {
    width: 50rem;
    height: 10rem;
}

select {
    width: 23.8rem;
    height: 3.5rem;
}

input[type=date] {
    height: 3.2rem;
}

label {
    display: block;
    margin-bottom: .5rem;
}

::placeholder {             /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cccccc;
    opacity: 1;             /* Firefox */
}

::-ms-input-placeholder,    /* Microsoft Edge */  
:-ms-input-placeholder {    /* Internet Explorer 10-11 */
    color: #cccccc;
}

input[type=submit] {
    width: auto;
    background-color: var(--second-blue);
    padding: 0 1rem;
}

.small-button {
    height: 2rem;
}

input[type=file] {
    padding-top: 0.4rem;
    height: 2.6rem;
}

input[type=submit]:focus, 
input[type=submit]:hover {
    background-color: var(--muted-second-blue);
}

.checkbox-label-pair > input,  
.checkbox-label-pair > label {
    display: inline-block;
    height: initial;
    width: initial;
}

.add-left-border-white {
    border-left: 2px solid white
}

.indent {
    padding-left: 2rem;
}

.page-header {
    margin-bottom: 3rem;
    padding: 2rem 0;
    border-bottom: 2px solid var(--main-yellow);
}

.page-content {
    margin-bottom: 3rem;
}

.pc-section-header {
    margin-bottom: 2rem;
}

.form-section {
    margin-bottom: 2.5rem;
}

.form-field-group {
    padding: 1rem 0;
}

.pc-section-hl {
    margin: 0;
}

.pc-section-note {
    margin: .5rem;
}

.form-section-hl {
    margin: 0;
}

.form-section-note {
    margin: .5rem;
}

.form-field-note {
    margin: 0;
}

/* ******************************************************* */
/* Common Page layout adjustments */
/* ******************************************************* */
.reg-top-margin {
    margin-top: 1rem;
}

.reg-bottom-margin {
    margin-bottom: 1rem;
}

.reg-top-bottom-margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.short-top-margin {
    margin-top: .5rem;
}

.short-bottom-margin {
    margin-bottom: .5rem;
}

.short-top-bottom-margins {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.remove-top-margin {
    margin-top: 0;
}

.remove-bottom-margin {
    margin-bottom: 0;
}

.remove-top-bottom-margins {
    margin-top: 0;
    margin-bottom: 0;
}

.add-top-margin {
    margin-top: 2rem;
}

.short-left-margin {
    margin-left: .5rem;
}

.short-right-margin {
    margin-right: .5rem;
}

/* ******************************************************* */
/* convert anything into a flex container */
/* ******************************************************* */
.flex-container {
    display: flex;
    align-items: center;
}

/* ******************************************************* */
/* Messages and Notifications */
/* ******************************************************* */
.notification {
    background-color: #2d9c5d;
    padding: 2rem
}

.failure {
    background-color: var(--main-red);
    padding: 2rem
}

.field_with_errors > input {
    border: 3px var(--main-yellow) solid;
    margin-bottom: 0;
}

.field-error-message {
    color: var(--main-yellow);
    margin-top: 0;
    margin-bottom: .5rem;
}

/* ******************************************************* */
/* Viewport Size Adjustments */
/* ******************************************************* */
// @media screen and (max-width: 750px) {
//     html {
//         font-size: 9.5px;
//     }
// }


// @media screen and (max-width: 440px) {
//     html {
//         font-size: 9px;
//     }
// }
