// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ******************************************************* */
/* Posts and Comment Styling */
/* ******************************************************* */

/* ********** Posts - some overlapping comment ********** */

.post-group {
    background-color: var(--second-gray);
    border-radius: 15px;
    padding: .5rem 1.5rem 1rem;
    margin-bottom: 1rem;
}

.post-content, 
.comment-content {
    background-color: var(--post-gray);
    border-radius: 15px 15px 0 0;
    padding: 2rem;
    border-bottom: 1px solid white;
}

.post-content > p, 
.comment-content > p {
    margin: 0;
}

.post-footer, 
.comment-footer {
    background-color: var(--post-gray);
    padding-left: 3rem;
    border-radius: 0 0 15px 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
}

.post-footer > p, 
.comment-footer > p {
    margin-right: 2rem;
}

// // // // // // // // // // // // // // // // // // // // // 

/* ********** Comments  ********** */

.comment {
    // background-color: #555555;
    padding-left: 4rem;
}

.comment-header {
    background-color: var(--comment-gray);
    border-radius: 15px 15px 0 0;
    padding-left: 1rem;
    // border-bottom: 1px solid var(--input-gray);
}

.comment-content {
    background-color: var(--comment-gray);
    border-radius: 0 0 15px 15px;
    padding: 0 3rem 2rem;
    // border-bottom: none;
}

// .comment-footer {
//     background-color: #555555;
//     border-radius: 0 0 15px 15px;
//     border-bottom: 1px solid white;
// }

// // // // // // // // // // // // // // // // // // // // // 

/* ********** Comment Form  ********** */

.comment-form-group {
    // background-color: var(--input-gray);
    // border-radius: 15px;
    // // padding: 0 0 1rem;
    // text-align: center;
    // margin: 2rem 0;
    display: flex;
    align-items: center;
}

.comment-form-header {
    margin-right: 1rem;
}

.comment-form-input {
    margin-right: 1rem;
}

.comment-form-input > textarea{
    width: 30rem;
    height: 4.5rem;
}



.comment-input {
    // min-height: 5rem;
    // width: 93%;
    // border-radius: 0;
    // border: 0;
    // border-bottom: 1px solid white;
    // padding: 0;

    
}

