// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* ******************************************************* */
/* Posts and Comment Styling */
/* ******************************************************* */

/* ********** Posts - some overlapping comment ********** */

.post-group {
    background-color: var(--second-gray);
    border-radius: 15px;
    padding: .5rem 1.5rem 1rem;
    margin-bottom: 1rem;
}

/* ***** Post/Comment header */

.post-header > *,
.comment-header > * {
    margin-right: 2rem;
}

.post-header .profile-display > *,
.comment-header .profile-display > * {
    margin-right: 1rem;
}

.post-header .profile-user > *,
.comment-header .profile-user > * {
    margin: 0 1rem 0 0;
}

.post-comment-controls {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.post-comment-controls > * {
    margin: 0 1rem 0 0;
}

/* ***** Posts content */
.post-content, 
.comment-content {
    background-color: var(--post-gray);
    border-radius: 15px 15px 0 0;
    padding: 2rem;
    border-bottom: 1px solid white;
}

.post-content > p, 
.comment-content > p {
    margin: 0;
}


/* ***** Posts content */
.post-footer, 
.comment-footer {
    background-color: var(--post-gray);
    padding-left: 3rem;
    border-radius: 0 0 15px 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
}

.post-footer > * {
    margin-right: 3rem;
}

.post-liking-controls, 
.post-commenting-controls {
    display: flex;
    align-items: center;
}

.post-liking-controls > *, 
.post-commenting-controls > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

/* ********** Adjustments for Comments  ********** */

.comment {
    padding-left: 2rem;
}

.comment-header {
    background-color: var(--comment-gray);
    border-radius: 15px 15px 0 0;
    padding: 1rem 0 0 1rem;
}

.comment-content {
    background-color: var(--comment-gray);
    border-radius: 0 0 15px 15px;
    padding: 0 3rem 1rem;
}


/* ********** Comment Form  ********** */

.comment-form-header {
    margin-right: 1rem;
}

.comment-form-input {
    margin-right: 1rem;
}

.comment-form-input > textarea{
    width: 40rem;
    height: 4.5rem;
}


/* ********** Like Buttons/Forms  ********** */

.liked-post {
    font-weight: 600;
}

input[type="submit"].liked-post-button {
    background-color: var(--muted-main-blue);
    font-weight: 600;
}