// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* ********** Sign-up and Log In form pages ********** */
#form-flex-container {
    display: flex;
    align-items: flex-start;
}

#col-form {
    flex: 1;
    border-right: 1px solid white;
    margin-right: 6rem;
    padding-right: 3rem;
}

#col-about {
    flex: 4;
}


input[type=submit].oauth-button {
    width: 18rem;
}

input[type=submit].oauth-facebook-button {
    background-color: #4267B2;
}

input[type=submit].oauth-facebook-button:focus, 
input[type=submit].oauth-facebook-button:hover {
    background-color: #4f7cd6;
}
