// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// Styles also included for Friend model (because they overlap and interact so much)

/* ******************************************************* */
/* User Form Pages */
/* ******************************************************* */

/* ********** Sign-up and Log In Forms ********** */
#form-flex-container {
    display: flex;
    align-items: flex-start;
}

#col-form {
    flex: 1;
    border-right: 1px solid white;
    margin-right: 6rem;
    padding-right: 3rem;
}

#col-about {
    flex: 4;
}

input[type=submit].oauth-button {
    width: 18rem;
    margin-top: .5rem;
}

input[type=submit].oauth-facebook-button {
    background-color: #4267B2;
}

input[type=submit].oauth-facebook-button:focus, 
input[type=submit].oauth-facebook-button:hover {
    background-color: #4f7cd6;
}


/* ********** Freinding Process Forms ********** */
button.friend-request-button {
    margin: .5rem 0;
}



/* ********** Profile Image Manager Forms ********** */
#change-image-form input[type=number] {
    width: 6rem;
}

#change-image-form select {
    width: 10rem;
}



/* ******************************************************* */
/* Profile Displays (covers User and Friend views */
/* ******************************************************* */


.profile-display {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1rem 0;
}

.profile-header {
    padding: 0;
}

// .add-bottom-border {
//     border-bottom: 2px solid var(--main-yellow);
// }

.profile-img {
    margin-right: 3rem;
}

.profile-info-post-comment {
    margin-right: 3rem;
}

.profile-username {
    margin-right: 3rem;
}

.post-time {
    margin-right: 3rem;
}

.profile-friend-request {
    align-items: center;
    justify-content: right;
}

.profile-friend-request > form {
    padding-top: .5rem;

}

.profile-friend-request > form:first-child {
    padding-top: 0;
}


.profile-header-user-name {
    margin: 0;
}

.profile-header-user-info {
    margin-bottom: 2rem;
}

.profile-left-sidebar {
    margin-bottom: 2rem;
}

/* ********** Profile images ********** */

.comment-form-header img, 
.profile-img img {
    border-radius: 50%;

    // this is the default - user can override these settings
    object-fit: cover;
    object-position: top;
}

.large-profile-image {
    width: 25rem;
    height: 25rem;
}

.medium-profile-image {
    width: 15rem;
    height: 15rem;
    margin-bottom: 2rem;
}

.small-profile-image {
    width: 4rem;
    height: 4rem;
}

/* ********** Profile Stats ********** */
.profile-stats{
    color: inherit;
    text-align: center;
    // width: 100%;
}

.profile-stats-headers{
    color: inherit;
}

.profile-stats-data{
    color: inherit;
}

// .profile-stats tr td {
//     width: 2.3rem;
// }

table tr td:empty {
    width: 2rem;
}






