// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// Styles also included for Friend model (because they overlap and interact so much)

/* ******************************************************* */
/* User Form Pages */
/* ******************************************************* */

/* ********** Sign-up and Log In Forms ********** */
#form-flex-container {
    display: flex;
    align-items: flex-start;
}

#col-form {
    flex: 1;
    border-right: 1px solid white;
    margin-right: 6rem;
    padding-right: 3rem;
}

#col-about {
    flex: 4;
}

input[type=submit].oauth-button {
    width: 18rem;
}

input[type=submit].oauth-facebook-button {
    background-color: #4267B2;
}

input[type=submit].oauth-facebook-button:focus, 
input[type=submit].oauth-facebook-button:hover {
    background-color: #4f7cd6;
}

/* ********** Profile Image Manager Forms ********** */

#change-image-form input[type=number] {
    width: 6rem;
}

#change-image-form select {
    width: 10rem;
}

/* ******************************************************* */
/* Profile Displays (covers User and Friend views */
/* ******************************************************* */
.page-header {
    margin-bottom: 2rem;
    padding: 2rem 0;
    border-bottom: 2px solid var(--main-yellow);
}

.profile-display, .form-file-group {
    display: flex;
    align-items: center;
    justify-content: left;
}

// .add-bottom-border {
//     border-bottom: 2px solid var(--main-yellow);
// }

// .profile-info {
//     // flex: 1;
// }


/* ********** Profile images ********** */

.profile-img {
    margin-right: 3rem;
}


.large-profile-image {
    width: 20rem;
    height: 20rem;
}

.medium-profile-image {
    width: 12rem;
    height: 12rem;
}

.small-profile-image {
    width: 5rem;
    height: 5rem;
}

/* ******************************************************* */
/* Friend Request buttons (covers User and Friend views */
/* ******************************************************* */

.profile-list {
    display: flex;
}
// replace selector declaration after change FPO buttons to actual forms
// input[type=submit].friend-request-button {
button.friend-request-button {
    margin: .5rem 0;
}



