<% if flash[:notice] %>
    <div class="notification">
        <p class="notice remove-top-bottom-margins"><%= notice %></p>    
    </div>    
<% end %> 

<% if flash[:failure] %>
    <div class="failure">
        <p class="notice remove-top-bottom-margins"><%= flash[:failure] %></p>    
    </div>    
<% end %> 

<% if flash[:alert] %>
    <div class="failure">
        <p class="alert remove-top-bottom-margins"><%= alert %></p>    
    </div>    
<% end %> 