<nav id="user-nav">
    <p><%= link_to "My Timeline", posts_path %></p>
    <p><%= link_to "My Friends", friends_path %></p>
    <p><%= link_to "Friend Requests", requests_friends_path %></p>
    <p><%= link_to "Find Friends", users_path %></p>
</nav>