<aside id="left-sidebar">
    <div class="sidebar-content">
        <%= render "users/user_profile_info", user: current_user, profile_size: "medium", location: "sidebar" %>
        <%= render "layouts/nav_user" %>
    </div>
</aside>

