<section class="sidebar-header">
    <h3 class="remove-top-margin">Suggested Friends</h3>
</section>

<section class="sidebar-content">
    <%= render "users/user_profiles_list", user_collection: @suggested_friends, location: "right_sidebar" %>
</section>


    
    

