<div class="sidebar-container">
    <section class="sidebar-header">
        <%= render "users/user_profile_info", user: current_user, location: "left_sidebar" %>
    </section>

    <section class="sidebar-content">
        <%= render "layouts/nav_user" %>
    </section>
</div>

