<footer>
    <p><a href="https://www.markstabler.com" target="_blank">Created by Mark Stabler</a></p>
    <p class="fine-print">© Stabler Writing Services, LLC</p>
    <p class="fine-print"><a href="https://github.com/marcon29/odin-face-tome" target="_blank">Source Code</a></p>
</footer>