<aside id="left-sidebar">
    <div class="sidebar-content">
        <div id="profile-img">
            <%= image_tag "pop-me.jpg", width: "100%", alt: "profile image" %>
        </div>
        <%= render "layouts/nav_user" %>
    </div>
</aside>

