<aside id="right-sidebar">
    <div class="sidebar-content">
        <h3 class="remove-top-margin">Suggested Friends</h3>
        <% @suggested_friends.each do |user| %>
            <%= render "users/user_profile_info", user: user, profile_size: "small" %>
        <% end %>
    </div>
</aside>

